<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>com.servlet.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVols</servlet-name>
        <servlet-class>com.servlet.ServletVols</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfil</servlet-name>
        <servlet-class>com.servlet.ServletProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErreurConnexion</servlet-name>
        <servlet-class>com.servlet.ErreurConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCompte</servlet-name>
        <servlet-class>com.servlet.ServletCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMembre</servlet-name>
        <servlet-class>com.servlet.ServletMembre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVolsInfosSeq</servlet-name>
        <servlet-class>com.servlet.ServletVolsInfosSeq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInstructeurs</servlet-name>
        <servlet-class>com.servlet.ServletInstructeurs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdmin</servlet-name>
        <servlet-class>com.servlet.ServletAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAvions</servlet-name>
        <servlet-class>com.servlet.ServletAvions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAvionsInfos</servlet-name>
        <servlet-class>com.servlet.ServletAvionsInfos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGPMembre</servlet-name>
        <servlet-class>com.servlet.ServletGPMembre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminVols</servlet-name>
        <servlet-class>com.servlet.ServletAdminVols</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteAvion</servlet-name>
        <servlet-class>com.servlet.ServletDeleteAvion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeleteVol</servlet-name>
        <servlet-class>com.servlet.ServletDeleteVol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminVolsInfoSeq</servlet-name>
        <servlet-class>com.servlet.ServletAdminVolsInfoSeq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminVolsUpdate</servlet-name>
        <servlet-class>com.servlet.ServletAdminVolsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminCompte</servlet-name>
        <servlet-class>com.servlet.ServletAdminCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminCompteUpdate</servlet-name>
        <servlet-class>com.servlet.ServletAdminCompteUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdminCompteDelOpe</servlet-name>
        <servlet-class>com.servlet.ServletAdminCompteDelOpe</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfil</servlet-name>
        <url-pattern>/Profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVols</servlet-name>
        <url-pattern>/Vols</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErreurConnexion</servlet-name>
        <url-pattern>/ErreurConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCompte</servlet-name>
        <url-pattern>/Compte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMembre</servlet-name>
        <url-pattern>/Membres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVolsInfosSeq</servlet-name>
        <url-pattern>/InfosSeqVol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInstructeurs</servlet-name>
        <url-pattern>/Instructeurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdmin</servlet-name>
        <url-pattern>/Admins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAvions</servlet-name>
        <url-pattern>/Avions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAvionsInfos</servlet-name>
        <url-pattern>/AvionsInfos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGPMembre</servlet-name>
        <url-pattern>/AdminProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminVols</servlet-name>
        <url-pattern>/AdminVols</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteAvion</servlet-name>
        <url-pattern>/DeleteAvion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeleteVol</servlet-name>
        <url-pattern>/DeleteVol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminVolsInfoSeq</servlet-name>
        <url-pattern>/AdminInfosSeqVol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminVolsUpdate</servlet-name>
        <url-pattern>/UpdateVol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminCompte</servlet-name>
        <url-pattern>/AdminCompte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminCompteUpdate</servlet-name>
        <url-pattern>/AdminCompteUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdminCompteDelOpe</servlet-name>
        <url-pattern>/AdminCompteDelOpe</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
