<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>com.servlet.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVols</servlet-name>
        <servlet-class>com.servlet.ServletVols</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProfil</servlet-name>
        <servlet-class>com.servlet.ServletProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErreurConnexion</servlet-name>
        <servlet-class>com.servlet.ErreurConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCompte</servlet-name>
        <servlet-class>com.servlet.ServletCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMembre</servlet-name>
        <servlet-class>com.servlet.ServletMembre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVolsInfosSeq</servlet-name>
        <servlet-class>com.servlet.ServletVolsInfosSeq</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProfil</servlet-name>
        <url-pattern>/Profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVols</servlet-name>
        <url-pattern>/Vols</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErreurConnexion</servlet-name>
        <url-pattern>/ErreurConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCompte</servlet-name>
        <url-pattern>/Compte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMembre</servlet-name>
        <url-pattern>/Membres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVolsInfosSeq</servlet-name>
        <url-pattern>/InfosSeqVol</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
